.header,.footer {
    text-align: center;
    font-size: 35px;
    background-color: #000000;
    color: #ffffff;
}
td,a {
    text-decoration: none;
}
a:visited {
    color: #0008ff;
}
a:hover {
    color: #f00000;
    border: 1px solid #000000;
    border-radius: 10px;
}
.countries {
    margin: 0px;
    padding: 0px 0px 0px 25px;
    text-align: justify;
}
.title {
    text-align: center; 
}
.subtitle {
    text-align: justify;
}
.cars {
    padding: 0px 0px 0px 25px;
    width: 200px;
}
